@model Zoo.Models.PozaIndivid

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PozaIndivid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idindivid" class="control-label"></label>
                <input asp-for="Idindivid" class="form-control" />
                <span asp-validation-for="Idindivid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriere" class="control-label"></label>
                <input asp-for="Descriere" class="form-control" />
                <span asp-validation-for="Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poza1" class="control-label"></label>
                <input asp-for="Poza1" class="form-control" />
                <span asp-validation-for="Poza1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poza2" class="control-label"></label>
                <input asp-for="Poza2" class="form-control" />
                <span asp-validation-for="Poza2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poza3" class="control-label"></label>
                <input asp-for="Poza3" class="form-control" />
                <span asp-validation-for="Poza3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poza4" class="control-label"></label>
                <input asp-for="Poza4" class="form-control" />
                <span asp-validation-for="Poza4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poza5" class="control-label"></label>
                <input asp-for="Poza5" class="form-control" />
                <span asp-validation-for="Poza5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poza6" class="control-label"></label>
                <input asp-for="Poza6" class="form-control" />
                <span asp-validation-for="Poza6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poza7" class="control-label"></label>
                <input asp-for="Poza7" class="form-control" />
                <span asp-validation-for="Poza7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poza8" class="control-label"></label>
                <input asp-for="Poza8" class="form-control" />
                <span asp-validation-for="Poza8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poza9" class="control-label"></label>
                <input asp-for="Poza9" class="form-control" />
                <span asp-validation-for="Poza9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poza10" class="control-label"></label>
                <input asp-for="Poza10" class="form-control" />
                <span asp-validation-for="Poza10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
